body{
  margin: 0 auto;
}

.container {
  background-color: #FFF7EE;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  margin: 0 auto;
  font-family: 'Courier New', monospace;
  text-align: center;
}

.title {
  font-size: 48px;
  margin-bottom: 75px;
}

.statistics{
  width: 768px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
}

#score {
  margin-left: 40px;
}

#lives {
  margin-left: 466px;
}

.life-square {
  background-color: #88D936;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-top: 1px;
}

#canvas {
  background: #34393E;
}
